.market-main-content{
	
	.content-header{
		margin-bottom:0;
	}
	.market-msg{
		background: #eee
	}
	.main-row{
		margin:10px 0 ;
		color: #333;
		font-size: 14px; 
		line-height: 1.2;
		>.col{
			padding-right:15px;
		}
	}
	.w-200-info{
		    width: 200px;
		    text-align: right;
		        padding-right: 12px;
	}
	.main-img-box{
		img{
			width: 173px;
			height: 173px;
		}
		width: 173px;
		height: 173px;
		margin: 20px;
		background: #fff;
	}
	.main-tit{
		color: #000;
		font-size: 18px;
		margin-right:5px; 
	}
	.main-tit-sub{
		padding: 0 8px;
		color: #f60;
		border:1px solid #f60;
		font-size: 12px;
		height:17px;
	}
	.item-msg{
		color: #666
	}
	.tab-tit{
		height:42px;
		background: #d2dff0;
		border-bottom: 1px solid #b6c3d5;
	}
	

	.tab-name {
			margin-top:4px; 
	    height: 38px;
	    line-height: 38px;
	    text-align: center;
	    padding: 0 20px;
	    float: left;
	    font-size: 14px;
	    color: #000;
	    cursor: pointer;
	}
	.tab-name.change {
    border: 1px solid #b6c3d5;
    color: #598cad;
    border-bottom: none;
	  background: #fff;
	}
	.tab-inner-tit{
		height: 35px;
		padding: 0 20px;
		border-bottom: 1px solid #e6e6e6;
		vertical-align: bottom;
		p{
			color: #598cad;
			font-size: 14px;
			height: 35px;
			line-height: 35px;
			padding: 0 20px;
			display: inline-block;
			cursor:pointer;
		}
		p.choosed{
			border-bottom: 3px solid #238fd3;
		}
	}
	.tab-inner-info{
		padding: 0 15px;
	}
	.tab-page-tit{
		margin-top:20px; 
		height: 32px;
		vertical-align: middle;
		.icon{
			font-size:12px;
		}
	}
	.tab-border-l{
		height: 21px;
		border-left:8px solid #238fd3;
		display: inline-block;
		vertical-align: bottom;
	}
	.tab-page{
		font-size: 15px;
		color: #000;
		font-weight: bold;
		display: inline-block;
	}
	.tab-page-table{
		border:1px solid #e4e4e4;
		width: 100%;
		font-size: 12px;
		color: #333;
		tr td{
			width: 36%;
			padding: 8px;
			border: 1px solid #e4e4e4;
		}
		td.bg-color{
			width: 14%;
			color: #999;
			background: #f6f6f6;
		}
	}
	.tab-page-table.border-lr-no{
		tr td{
			border-left: none;
			border-right: none;
			width: auto;
		}
	}
	.tab-btn{
		font-size: 12px;
		color: #235f8f;
		height: 32px;
    line-height: 32px;
    cursor: pointer;
	}
	.tab-input{
		outline: none;
		border: 1px solid #e6e6e6;
		color:#333;
		padding: 3px;
	}
	.pr-70{
		padding-right:70px; 
	}
	.label-choose{
		position: absolute;
    right: 0;
    top: 0;
    height:22px;
    line-height:22px;
	}
	.border-line{
		border-bottom:1px solid #ccc;
	}
	.label-border{
		/*border:1px solid #ccc;*/
		padding: 2px 7px;
    margin-right: 5px;
	}
	.label-input{
		 vertical-align: middle;
	}
	.pb-20{
		padding-bottom: 20px;
	}   
	.noChange{
		outline: none;
    border: 1px solid #e6e6e6;
    color: #333;
    padding: 3px;
    background: #fff;
    opacity: 1;
	}
	.item-lab{
		width:68px;
	}
	.border-top{
		border-top:1px solid #c0cfe4;
	}
	.w-150{
		width: 150px;
		transform: translateY(-2px);
    padding-top: 6px;
    text-align: right;
    padding-right: 12px;
    word-break: break-word;
    font-size: 12px;
	}
}
